<!DOCTYPE html>
<html>
  <head>
    <title>Tic-Or-Toe</title>
    <%= csrf_meta_tags %>
    <!-- Compiled and minified CSS -->


      <!-- Compiled and minified JavaScript -->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>

  <body>

    <nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo"><img src="https://cdn3.iconfinder.com/data/icons/halloween-2/512/pumpkin-icon.png" height="55" width="55" alt="" /></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li> <% if current_user %> Signed in as <%= current_user.username %></li>
        <li> <%= link_to "Log Out", '/logout' %></li>
   <% else %>
     <li> <%= link_to 'Log In', '/login' %></li>
     <li> <%= link_to 'Sign Up', '/users/new' %></li>
   <% end %>
     </ul>
   </div>
 </nav>
<div class="container">


    <%= yield %>
      </div>
  </body>
</html>
