<h1><%=@user.username%>'s Stats</h1>

<h3>Games Played: <%=@user.games.length%></h3>
<% @ordered = @user.games.order(id: :desc)%>
<%@ordered.each do |game|%>
  Game <%=game.user.total_games -= 1%>:
  <ul>
    <li>- Difficulty Level: <%=game.difficulty%></li>
    <li>- Status: <%=game.game_status%></li>
    <% if game.game_status == 'ongoing'%>
    <li><a href="/games/<%=game.id%>">Keep Playing</a></li>
    <%end%>
  </ul>
<%end%>
